<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>Gamblacoin</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="vendor.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" id="usernav">
            </div>
        </div>
    </div>
    <div id="container">
        <div id="main-content"></div>
    </div>
    <div id="footer">
        
        <div class="hide">
            Copyright 2013 - GamblaCoin
        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>
