<div class="container" id="main-container">
    <div class="row">
        <div id="play-container">
        </div>
    </div>
    <div class="row">
        <div id="betlive-container">
            <div class="bet-tabs ">
                <ul class="nav nav-pills tabs" data-tabs="tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#betsall-view">All Bets   <span id="bet-all-count"></span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#mybet-view">My Bets</a> 
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="active tab-pane" id="betsall-view">
                        <div class="betall-view-table">
                           
                        </div>
                    </div>
                    <div class="tab-pane" id="mybet-view">
                        <div class="bet-view-table">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
